body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 40px;
}
h1 {
    color: #7e1a4c;
}
p {
    color: #e9477d;
    font-size: 18px;
}
img {
    width: 300px;
    margin: 30px 0;
    border-radius: 10px;
}
button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #7e1a4c;
     color: #e9477d;  
         border: 2px solid #e9477d;
    border-radius: 6px;
    cursor: pointer;
}