h1{
    display: block;
   color: black; 
   font-family:  poppins;
   font-weight: bold;
}
h2{
    display: none;
}
p{
    font-size: medium;
    line-height: normal;
    

}
button{
    background-color: darkslategrey;
    display: inline-block;
    padding: 20px;
    border: 2px;
    margin: 30px;


}