body{
    background: url(https://i.pinimg.com/1200x/7c/31/b5/7c31b5b84fd37bdfe195a0acc7115c03.jpg);

}
.hero{
    min-height: 70vh;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.438);
    .text-hero{
       margin-left: 100px;
       padding-top: 70px;
       font-weight: bold;


    }
    h1{
        font-size: 40px;
        color: $color-text;


     }
     p{
    font-size: 20px;
    color: $color-text;
     }
     img{
        margin-right: 100px;
     }
       button{
        padding: 10px 25px;
        color: $color-text;
        font-weight: bold;
        background-color: $color-bg;
        border: none;
        border-radius: 8px;
        font-weight: bold;
       &:hover {
        color: white;
         background-color: $color-primary;
          }
           &:active {
        color: white;
         background-color: $color-text;
          }

        
    }}
    .feature{
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 6px;
        margin-bottom: 6px;
        font-weight: bold;
    }
    .row{
        padding: 50px;
    }
    .card-body{
        
        padding: 5px;
        background-color: $color-bg;
        border-radius: 6px;
        color: $color-text;
        font-weight: bold;

    }
    .card-title{
        font-size: 20px;
        font-weight: bold;

    }
    .card-text{
    font-size: 15px;
    font-weight: bold;
    }

.custom-navbar{
  background-color: $color-bg;
width: 100%;}
.navbar-brand{
    font-weight: bold;
    color:$color-text ;
    pointer-events: none;
    margin-right: 500px;
    font-family: 'Baloo 2', cursive;


}
.custom-navbar .nav-link {
    color: $color-text;
    font-size: 16px;
    font-weight: 500;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.custom-navbar .nav-link:hover {
    color: white;
    background-color: $color-primary;
    border-radius: 6px;
}
.about{
    display: flex;                  
    justify-content: space-between; 
    align-items: center;            
    flex-wrap: wrap;                
    padding: 50px;     
    color: $color-text;
    font-weight: bold;             
    .about-text{
        max-width: 600px;         
        h2{
       font-size: 40px;
       color: $color-primary;
        }
        p{
            font-size: 20px;
        }
    }

    .about-image{
        max-width: 500px;  
        margin-right: 60px;       

        img{
            width: 100%;            
            height: auto;           
            border-radius: 10px; 
        }
    }
}
.brand-name{
    color: $color-text;
}
.nav-item{
padding: 5px;
}
