:root {
 
  --color-1: #ecbccc;
  --color-2: #d183a2;
  --color-3: #ec79a2;
  --color-4: #f37aa3;
  --color-5: #f55bad;
  --color-6:aliceblue;
   --text-font: 'Inter';
   --text-padding:100px;

}
.section-1{
background-color: var(--color-1);   
color: var(--color-6);
font: var(--text-font);
padding: var(--text-padding);
}
.section-2{
 background-color: var(--color-2);  
 color: var(--color-6);
 font: var(--text-font);
padding: var(--text-padding);

}
.section-3{
background-color: var(--color-3); 
color: var(--color-6);
font: var(--text-font);
padding: var(--text-padding);  
}
.section-4{
background-color: var(--color-4);  
color: var(--color-6); 
font: var(--text-font);
padding: var(--text-padding);
}
.section-5{
background-color:  var(--color-5); 
color: var(--color-6); 
font: var(--text-font);
padding: var(--text-padding); 
}
