div{
    background-color: rgba(44, 43, 43, 0.747);
    color: aliceblue;
    height: 200px;
    width: 200px;
}
@media(max-width:700px){
   div{
    background-color:red ;
   }
    @keyframes fadeIn {

  from { opacity: 0; }

  to { opacity: 3; }
}
}
@media(max-width:900px){
   div{
    background-color:blue ;
   @keyframes fadeIn {

  from { opacity: 0; }

  to { opacity: 1; }

}
   }
}
  @keyframes fadeIn {

  from { opacity: 0; }

  to { opacity: 1; }}