body{
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top-section{
    background-color: #0f0f0fec;
    margin: 30px;
    padding: 20px;

}

nav{
    font-size: 15px;
    align-items: center;
    display: flex;
    width: 100%;
    height:30px;
    
}
.color{
    color: rgb(138, 43, 226);
}

ul{
    display: flex;
    list-style: none;
    margin-left: 200px;
   
}
li{
    padding: 30px;
  
}
#intro{
margin-top: 100px;
}
h2{
    margin-top: 5px;
}
#description{
    margin-top: 50px;
}img{
     width: 350px;
     height: 350px;
     margin-top: 150px;
     margin-right: 200px;
}
#full-description{
     display: flex;
}
button{
    border-radius: 15%;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(138, 43, 226);
    color: white;
    
}

.social{
    display: flex;
    margin: 5px;
    
}
.fa-brands{
  margin-left: 30px; 
   color: rgb(138, 43, 226); 
}
.cards{
    display: flex;
}
.card{
    padding: 20px;
    margin: 15px;
    background-color: #0f0f0fec;
    border:1px solid rgb(138, 43, 226)  ;
}
.fa-solid{
    color:rgb(138, 43, 226) ;
}
.button-section{
    margin: 30px;
    padding: 20px;
}