* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
  font-family: $font-body;
  background: url(https://i.pinimg.com/1200x/33/04/8b/33048b34236adde3d6da04c2e8b7dd44.jpg);
  color: $color-primary;

}

a {
  color: inherit;
  text-decoration: none;
}

img { max-width: 100%; display: block; }

.container { @include container; }

.muted { opacity: 0.8; }

.list {
  padding-inline-start: 18px;
  line-height: 1.8;
}

.section-head {
  margin-bottom: $space-3;

  h2 {
    font-family: $font-heading;
    margin-bottom: $space-1;
  }
}