/* Colors */
$color-primary: #bb4f6a ;
$color-secondary: #f2a1b3;
$color-dark: #a3485f;
$color-bg: #f3d7dd;
$color-white: #ffffff;
$color-border: #e6e6e6;

/* Typography */
$font-body: Arial, sans-serif;
$font-heading: "Arial Black", sans-serif;

/* Spacing & layout */
$container-max: 1100px;
$radius: 14px;

$space-1: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 40px;
$space-5: 70px;

/* Breakpoints */
$bp-tablet: 900px;
$bd-phone:768px;
$bp-desktop: 1024px;