body{
    font-weight: bold;
    color: rgba(10, 10, 10, 0.945);
}

header{
    border-bottom: 1px solid rgb(243, 189, 222);
    font-weight: bold;
    font-size: 30px;
    height: 80px;
}
header li:hover{
    cursor: pointer;
}
header li:active{
    background-color:rgb(245, 150, 209) ;
}
nav{display: flex;
   align-items: center;
   margin-right: 500px;
}
li{
  padding: 5px; 

}
#nav-bar{
    display: flex;
    list-style: none;
    
}
#nav-bar a {
  text-decoration: none;
  color: rgba(10, 10, 10, 0.9);
  padding: 10px ;
  
}

.hero{
    height: 700px;
    background:
    linear-gradient(
        to right,
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.6),
        rgba(255, 255, 255, 0)),
        url(https://i.pinimg.com/736x/7d/a5/df/7da5dfb6ff34907f64c18d4fe2187373.jpg) ;
        background-size: cover;
        background-position: center;
}
.hero-text{
    padding: 100px;
    


}
.hero-text h1{
font-size: 50px;

}
.hero-text p{
font-size: 30px;
}
span{
    color: rgb(245, 150, 209);
}
 .about-doctor{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 30px;
    font-size: 20px;
   }
      .about-doctor h2{
    font-size: 30px;
    margin-top: 60px;
    

   }
   .about-doctor img{
    height: 500px;
    width: 500px;
   
   }
   .service-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px;
    gap: 10px;
  

}
.service-card img{
    width: 350px; ;
    height: 350px;
}
.service-card:hover{
    transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
 @media (max-width:920px){
  header{
    font-size: 20px;
    height:60px;
} 
nav{
   margin-right: 300px;
} 
.hero{
    height: 400px;
}
.hero-text{
    padding: 100px;
    


}
.hero-text h1{
font-size: 50px;

}
.hero-text p{
font-size: 30px;
}
.rose{
    margin-right:400px;
}
 }
  @media (max-width:700px){

    
 }


