header{
    display: flex;
}
nav{
    font-size: 15px;
    align-items: center;
    display: flex;
    width: 100%;
    height:30px;
    background-color: rgb(128, 44, 44);
    
}
ul{
    display:flex;
    list-style: none;
}
li{
    padding: 100px;

}
.grid{

display: grid;

grid-template-columns: 500px 1fr 500px;

grid-template-rows: 500 1fr 500;

}
