body{
    font-weight: bold;
    color: rgba(10, 10, 10, 0.945);
}
.hero{
    height: 700px;
    background:
    linear-gradient(
        to right,
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.6),
        rgba(255, 255, 255, 0)),
        url(https://i.pinimg.com/736x/7f/83/9d/7f839d7c39da9b46a8a1fd135ea014f8.jpg) ;
        background-size: cover;
        background-position: center;
}



.hero-text{
    padding: 100px;
    


}
.hero-text h1{
font-size: 50px;

}
.hero-text p{
font-size: 30px;
}
.hero-text button{
font-size: 30px;
padding: 10px;
border-radius: 10px;
font-weight: bold;
 background: linear-gradient(to right,
  rgb(41, 168, 168),
  rgb(74 226 226), 
  rgb(41, 168, 168));
border: 2px solid rgb(41, 168, 168) ;
transition: all 0.5s ease;



color: rgba(10, 10, 10, 0.945);
box-shadow: 0 10px 20px rgba(0,0,0,0.15);



}
.hero-text button:hover{
    transform: translateY(-5px);
    cursor: pointer;

}
.color{
 color: rgb(41, 168, 168);  
}
header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(41, 168, 168);
    font-weight: bold;
    font-size: 30px;
    height: 50px;
}
nav{display: flex;
   align-items: center;
}
li{
    padding: 10px;
}
header li:hover{
    cursor: pointer;
}
header li:active{
    background-color:rgb(41, 168, 168) ;
}
#nav-bar{
    display: flex;
    list-style: none;
    
}
#logo-image{
    height: 50px;
    width: auto;
    margin-right: 400px;
}
.home{
    background-color: rgb(41, 168, 168);
    border-radius: 6px;
}
.service-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px;
    gap: 100px;
  

}
.service-card{
      background-color: white;
     padding: 40px;
     border: 2px solid rgba(43, 41, 41, 0.568);
     transition: all 0.5s ease;
    
}
.service-card:hover{
    transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
.service-card span{
margin-top: 30px;
 color:rgb(41, 168, 168) ;
}
.service-card span:hover{
 text-decoration: underline;
 text-decoration-color:rgb(41, 168, 168) ;
  cursor: pointer;  
}
.service-card i {
    color:rgb(41, 168, 168);
    font-size: 40px;
    margin: 20px; 
}
.services h2 {
    font-size: 30px;
    margin-top: 60px;
    margin-left: 60px;  
    
}

.address{
    display: flex;
    align-items: center;
}
.service-card p{
    color: rgba(43, 41, 41, 0.568);
}
.footer i{
    color:rgb(41, 168, 168) ;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 2px;
    color:rgba(43, 41, 41, 0.568) ;
    border-top:2px solid rgb(41, 168, 168)  ;
   }
   .about-doctor{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 30px;
    font-size: 20px;
   }
   
   .about-doctor h2{
    font-size: 30px;
    margin-top: 60px;
    

   }
   .about-doctor img{
    height: 500px;
    width: 500px;
   
   }
     @media (max-width:920px){
    header{
    height: 70px;
    margin-bottom: 2px;
     }
     li{
        padding: 2px;
     }
     .service-card span:hover{
     text-decoration: none;
     cursor: default;  
     }
     
    #logo-image{
        margin-right: 0;
    }
    .hero-text{
        padding: 10px;
    }
    .hero-text button{
        transition: none;
    }
    header li:hover{
    cursor: default;
    }
    .service-card:hover{
    transform:none;
    }
   .hero{
    height: 400px;}
    .service-cards{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 20px;
    }
    .service-card i {
    font-size:20px;
    margin: 5px; 
}
.services h2 {
    margin-top: 20px;
    margin-left: 20px;  
    
}
.hero-text button:hover{
    transform: none;
    cursor: default;

}

.about-doctor img{
    height: 400px;;
    width: 400px;
  
   
   }
   .service-card{
    padding: 10px;
    transition:none;
     box-shadow: 0 10px 20px rgba(0,0,0,0.15);
   }
   
}
   @media (max-width:768px){
    header{
    font-size: 10px;
    height: 70px;
    margin-bottom: 2px;
     }
     .hero-text button:hover{
    transform: none;
    cursor: default;

     }
     li{
        padding: 2px;
     }

    
    nav{
        flex-direction: column;
    }
    #logo-image{
        margin-right: 0;
    }
    .hero-text{
        padding:1px;
    
    }
    .service-card:hover{
    transform:none;
    }
    header li:hover{
    cursor: default;
    }
    .hero-text h1{
    font-size : 30px;
     }
     .hero-text p{
     font-size: 15px;
     }
     .hero-text button{
     font-size: 15px;
     padding: 5px;
     transition: none;

   }
   .hero{
    height: 200px;}
    .service-cards{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .service-card i {
    font-size:20px;
    margin: 5px; 
}
.services h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;  
    
}
.about-doctor{
    flex-direction: column;
    margin: 5px;
    font-size: 15px;
}
.about-doctor h2{
    font-size: 20px;
    margin-top: 20px;
    

   }
.about-doctor img{
    height: 300px;;
    width: 200px;
    margin-right: 20px;
   
   }
   .service-card span:hover{
     text-decoration: none;
     cursor: default;  
     }
   .service-card{
    transition: none;
     box-shadow: 0 10px 20px rgba(0,0,0,0.15);
   }
}

   
